#style-me{
color: #0000ff;
}

.background-1::before{
    content: '';
    background-color: palegoldenrod;
    background-size: 100% 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
}

.fa-dog{
    color: orangered;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  
}