.jumbotron{
    background-image: URL("./data/icons/back-jumbo.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.jumbotron h1{
    padding: 50px;
    text-align: center;
    color: palevioletred;
}

h2, p{
    color: navy;
    text-align: center;
}

#displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jersery {
    padding-top: 25px;
    padding-left: 50px;
}

#pawery{
    color: navy;
    text-align: center;
}

#ctp{
    display: block;
    margin-right: auto;
    width: 100%;
}

